services:
  # Web Service
  - type: web
    name: items-monitoring-system
    env: python
    plan: free
    buildCommand: pip install -r requirements.txt
    startCommand: gunicorn app:app
    healthCheckPath: /
    autoDeploy: true
    
    # Environment variables
    envVars:
      - key: PYTHON_VERSION
        value: 3.11.5
      - key: PORT
        value: 10000
      - key: SECRET_KEY
        generateValue: true
